.advantages__content
    text-align: center

.card__item
    display: inline-block
    text-align: center
    width: 260px
    background-color: #2C3949
    margin: 0 12px 30px
    color: #97a4b2
    font-size: em(15px)
    line-height: em(21px)
    padding: 54px 28px 48px
    vertical-align: top
    border-bottom: #1A222B 4px solid

.card__title
    color: #E5E5E5
    font-family: "RalewayBold", $helvetica
    font-size: em(18px)
    margin-top: 30px
    margin-bottom: 18px

.card__description
    margin-bottom: 0
    margin-top: 0
    height: 75px
    strong
        color: $main-color

.card__image
    padding: 20px
    width: 120px
    height: 120px
    line-height: 120px
    background-color: $main-color
    border-radius: 10em
