/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
    .navigation
        display: none
        float: right
        min-width: 295px
        text-align: right
        background-color: #1C242C
        top: 10px
        position: relative
        border-bottom: #111821 4px solid
        border-top: #232D3B 4px solid
        position: absolute
        right: 15px
        z-index: 2

    .navigation__item
        display: block
        line-height: 0
        padding: 0

    .navigation__link
        display: block
        line-height: 48px
        padding: 0 20px
        font-size: em(18px)
        text-decoration: none
        text-transform: uppercase
        transition: all .5s ease
        background-color: transparent
        border-bottom: #222C36 1px solid
        &:hover
            background-color: #34465a
            text-decoration: none

    .phone__number
        padding-right: 65px

    .books
        margin: 80px 0 0 80px
        width: 130px
        height: 130px
        text-align: center
        border-radius: 10em
        background-color: $main-color

    .offer__item
        margin-bottom: 20px

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
    .navigation
        top: 40px

    .intro
        margin-top: 0

    .intro__title
         margin-top: 0

    .services
        text-align: center

    .services__triangle
        background-size: cover

    .services__content_dark
        background-image: none

    .none-d
        display: none

    .services__content_dark
        min-height: 650px
        padding-top: 0
        .services__item
            &:nth-child(2)
                .item__info
                    margin-top: 80px
            &:nth-child(4), &:nth-child(6)
                .item__info
                    margin-top: 0px
            &:nth-child(4)
                .item__info
                    margin-left: 0px
            &:nth-child(6)
                .item__info
                    margin-left: 0px
            &:nth-child(8)
                .item__info
                    margin-top: 0px
            &:nth-child(7), &:nth-child(9)
                .item__info
                    margin-top: 0px

    .offer__item:nth-child(1)
        margin-left: -40px

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
    .section__subitle
        margin-bottom: 30px

    .item__info
        padding-left: 0
        max-width: 100%
        margin-top: 20px
        margin-bottom: 20px
        &:first-child
            margin-top: 0

    .services__content_bg
            background-position: bottom

    .services__content_bottom
        .services__item:nth-child(2)
            .item__info
                margin-top: 0


    .services__content_bottom
        .services__item:nth-child(1)
            .item__info
                margin-top: 45px

    .services__content_dark
        text-align: center
        .services__item
            &:nth-child(3), &:nth-child(2), &:nth-child(1)
                .item__info
                    margin-top: 0

    .offer__content
        padding-left: 50px
    // .offer__item:nth-child(1)
    //     margin-left: 10px

    // .offer__item:nth-child(3)
    //     margin-left: 10px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
    .phone__number
        font-size: em(18px)
        line-height: 34px
        padding-right: 50px

    .toggle-navigation
        line-height: 34px
        margin-top: 8px

    .logo__img
        width: 70px

    .deals__item
        padding: 0px 10px
        width: 140px

    // .offer__item
    //     margin-left: 10px



// /* Custom, iPhone Retina */
// @media only screen and (max-width : 320px)
// 	/**/


// ==========  Mobile First Method  ==========

// /* Custom, iPhone Retina */
// @media only screen and (min-width : 320px)
// 	/**/


// /* Extra Small Devices, Phones */
// @media only screen and (min-width : 480px)
// 	/**/


// /* Small Devices, Tablets */
// @media only screen and (min-width : 768px)
// 	/**/


// /* Medium Devices, Desktops */
// @media only screen and (min-width : 992px)
// 	/**/


// /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
    .navigation
        display: block !important
    a
        outline: none !important
